


<div class="row ms-5 mt-5">

    <div class="col-2"></div>
      <div class="col-4 mt-5">
        <h1>Crédito de Vivienda para adquirir tu vivienda nueva o usada.</h1>
        <p class="paragraph_landing ">Recibe preaprobación de tu Crédito de Vivienda en minutos, sin papeles y aprobación en 48 horas sin trámites en oficinas*.</p>
        <button class="btn-solicitar mt-5"
        (click)="goToBasicData()"
        >Iniciar solicitud</button>
         <button class="btn-simulador mt-5 ms-5"
         (click)="goToSimulator()"
         >Simulador</button>

      </div>
      <div class="col-4 ms-4">
        <img class="product-image" alt="" src="https://assets-manhattan.s3.us-east-2.amazonaws.com/landing-product-credit.jpeg" >      </div>

</div>

<div class="row ms-5 mt-5">
  <div class="col-1"></div>
  <div class="col-4 mt-5">
    
  </div>
</div>